<%= simple_form_for [@theme.category, @theme, @discussion] do |f| %>
  <% if @discussion.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @discussion.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :title %>
  <%= f.input :content %>
  <%= f.submit "submit discussion", class: "btn btn-primary" %>
<% end %>
