<div class="container">
  <h4> <%= link_to @theme.category.name, category_path(@theme.category)%> / <%= link_to @theme.name, category_theme_path(@theme.category, @theme)%></h4>
  <h1> <%= @theme.name %> </h1>

      <%= cl_image_tag @theme.photo, height: 300, width: 400, crop: :fill %>

  <h3>Description</h3>

  <%= sanitize @theme.content %>
  <br>
  <%= link_to "en savoir plus", category_theme_description_path(@theme.category, @theme), class: "btn btn-primary" %>

  <h3>Discussions</h3>

  <!-- <div class="row"> -->

    <% @theme.discussions.each do |discussion| %>

          <%#= link_to category_theme_discussion_path(@theme.category, @theme, discussion) do %>

            <%= render './components/discussion-card', discussion: discussion %>

          <%# end %>

    <% end %>

  <!-- </div> -->

  <div class="text-center">
  <%= link_to "nouvelle discussion", new_category_theme_discussion_path(@theme.category, @theme), class:"btn btn-danger btn-empty" %>
  </div>


  <h3>Actions</h3>

  <div class="row">

    <% @theme.actions.each do |action| %>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= link_to category_theme_action_path(@theme.category.id, @theme, action) do %>

        <%= render './components/action-card', action: action %>

      <% end %>
      </div>

  <% end %>
  </div>

  <div class="text-center">
    <%= link_to "nouvelle action", new_category_theme_action_path(@theme.category, @theme), class:"btn btn-danger btn-empty" %>
  </div>
</div>
