<%= simple_form_for [@category, @theme, @action] do |f| %>
  <% if @action.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @action.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :title %>
  <%= f.input :location %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :description %>
  <%= f.submit "submit action", class: "btn btn-primary" %>
<% end %>
