<div class="navbar-ff">
  <!-- Logo -->
  <div class="navbar-ff-left">
    <%= link_to root_path, class: "navbar-ff-brand" do %>
      <%= image_tag "logo.png", height: 50 %>
      <%= image_tag "france-forward-text-big.png", height: 20 %>
    <% end %>
    <%= link_to "Tour", conversations_path, class: "navbar-ff-item navbar-ff-link" %>
    <i class="fas fa-search" style="color:#616668"></i>
  </div>
  <!-- Right Navigation -->
  <div class="navbar-ff-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <%= link_to "Messages", conversations_path, class: "navbar-ff-item navbar-ff-link" %>
      <!-- Links when logged in -->
      <%#= link_to "Host", "#", class: "navbar-ff-item navbar-ff-link" %>
      <%#= link_to "Trips", "#", class: "navbar-ff-item navbar-ff-link" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-ff-item">
        <div class="dropdown">
          <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbar-ff-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-ff-dropdown-menu">
            <li>
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_up", default: "s'inscrire"), new_user_registration_path, class: "navbar-ff-item navbar-ff-link" %>
      <%= link_to t(".sign_in", default: "se connecter"), new_user_session_path, class: "navbar-ff-item navbar-ff-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-ff-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-ff-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

