<!DOCTYPE html>
<html>
  <head>
    <title>france forward</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>france forward</h1>

    <%= yield %>

    <p>A very simple footer</p>
  </body>
</html>
